* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 8px;
}

.container > p {
    color: #ddd;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 13px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

button {
    border: none;
    border-radius: 8px;
    padding: 12px 18px;
    cursor: pointer;
    font-weight: bold;
}

#addBtn {
    background: #00c896;
    color: white;
}

.movie-card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    text-align: left;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.movie-card h2 {
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

li {
    background: #f1f3f5;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    background: #ff4d4d;
    color: white;
    padding: 7px 12px;
}

#empty {
    text-align: center;
    color: #888;
}

#clearBtn {
    width: 100%;
    margin-top: 15px;
    background: #ff4d4d;
    color: white;
}