/* block properties. */
.block{
    display:block;
    background:lightblue;
    margin:10px;
}

.inline{
    display:inline;
    background:lightgreen;
}

.inline-block{
    display:inline-block;
    width:120px;
    height:50px;
    background:orange;
    margin:10px;
}

.none{
    display:none;
}

/* position properties. */
body{
    height:1500px;
}

.static{
    position:static;
    background:lightblue;
}

.relative{
    position:relative;
    left:40px;
    background:lightgreen;
}

.absolute-parent{
    position:relative;
    height:150px;
    border:2px solid black;
}

.absolute{
    position:absolute;
    top:20px;
    right:20px;
    background:orange;
}

.fixed{
    position:fixed;
    top:10px;
    right:10px;
    background:red;
    color:white;
    padding:10px;
}

.sticky{
    position:sticky;
    top:0;
    background:darkgreen;
    color:white;
}

.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    gap:20px;
}

.box{
    width:200px;
    height:100px;
    background:skyblue;
    text-align:center;
    line-height:100px;
}

/* grid layout */

.container{
display:grid;
grid-template-columns:1fr 2fr;
grid-template-areas:
"header header"
"sidebar main"
"footer footer";
gap:10px;
}

header{
    grid-area:header;
    background:lightblue;
    padding:20px;}
aside{
    grid-area:sidebar;
    background:lightgreen;
    padding:20px;}
main{
    grid-area:main;
    background:orange;
    padding:20px;}
footer{
    grid-area:footer;
    background:gray;
    color:white;
    padding:20px;}

    /* Z-index */
    /* .box1{
position:absolute;
left:100px;
top:100px;
width:200px;
height:200px;
background:red;
z-index:1;
}

.box2{
position:absolute;
left:170px;
top:170px;
width:200px;
height:200px;
background:blue;
z-index:2;
} */