.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.subject{
    background: lightgreen;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}